body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

main {
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 20px;
}

section {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
  display: inline-block;
  background: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}

footer {
  text-align: center;
  padding: 20px 0;
  background: #333;
  color: #fff;
}

.image-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
  align-items: center; 
  gap: 10px;
}

.project-card {
  border-left: 5px solid #282f36;
  padding-left: 15px;
  margin-bottom: 15px;
}

.project-item-container {
  text-align: center;
}

.project-banner {
  text-align: center;
  margin: 15px 0;
  width: 900px;
  height: auto;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-image {
  text-align: center;
  margin: 15px 0;  
  max-width: 885px;
  height: auto;  
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-gif {
  text-align: center;
  margin: 15px 0;
  width: 600px;
  height: auto;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

